body {
  background-color:  #FEF9FE !important;
  overflow: scroll;
}

.site {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.alert-danger {
  color: white;
  border-color: var(--bs-danger);
}

.alert-warning {
  color: #333;
  border-color: var(--bs-warning)
}

.alert-success {
  color: white;
  border-color: var(--bs-success)
}
